@using IdentityServer4.Extensions



<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            Passi IdentityServer
        </a>

    </nav>
</div>
