**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.idea
**/.claude
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.venv
**/bin/**
**/obj/**
**/publish/**
**/azds.yaml
**/bin
**/charts
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/publish
configs/variables/mailler.env
PassiChat/
LoadTests/
MauiTest/
RegisterManyUsersTestApp/
MauiApp2/
MauiApp1/
LICENSE
README.md