@{
    ViewData["Title"] = "Passi Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Passi - passwordless 2FA authentification provider.</h2>
   

</div>
<a href='https://play.google.com/store/apps/details?id=com.passi.cloud.passi_android&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width: 200px" alt='Get it on Google Play' src='img/en_badge_web_generic.png' /></a><br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/Dlj0ImFIgqE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
