@model IdentityServer.Controllers.ViewModels.LoginViewModel


<style>
    div {
        width: 200px;
        height: auto;
        text-align: center;
        padding: 15px;
        border: 3px solid red;
    }

    img {
        object-fit: cover;
    }
</style>
<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
    </div>
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2></h2>
                </div>

                <div class="card-body">
                    <form asp-route="Login" autocomplete="on">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="Nonce" />

                        <div class="form-group">
                            <input class="form-control" placeholder="Username" asp-for="Username" name="username" id="username" autofocus>
                        </div>
                        <button class="btn btn-primary" name="button" asp-action="Login" value="login">Login</button>
                        <button class="btn btn-secondary" name="button" asp-action="CancelLogin" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<a href='https://play.google.com/store/apps/details?id=com.passi.cloud.passi_android&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img  alt='Get it on Google Play' src='~/img/en_badge_web_generic.png' /></a>

