global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048


defaults
  log global
  retries 3
  maxconn 2000
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 300000
  timeout server 300000

listen stats
  bind 127.0.0.1:9090
  balance
  mode http
  stats enable
  timeout connect 5000
  timeout client 30000
  timeout server 30000

frontend http_front
  bind *:80
  mode http
  default_backend http_back
  http-request redirect scheme https code 301 if !{ ssl_fc }

frontend https_front
  bind *:443 ssl crt /usr/local/etc/haproxy/cert/passi_cloud_haproxy.ca-bundle
  mode http
  option httplog
  option forwardfor

  use_backend identityserver if { path_beg /identity }
  use_backend passiwebapi if { path_beg /passiapi }
  use_backend pgadmin if { path_beg /pgadmin }

  default_backend http_back

backend http_back
  mode http
  server webapp_server webapp:5002 maxconn 32

backend identityserver
  mode http
  server identity_server identityserver:5003 maxconn 32

backend passiwebapi
  mode http
  server passiwebapi_server passiwebapi:5004 maxconn 32

backend pgadmin
  mode http
  http-request set-header X-Script-Name /pgadmin4
  http-request set-header X-Scheme https if { ssl_fc }
  http-request set-header Host %[hdr(host)]
  server pgadmin_server pgadmin:8080 maxconn 32
