<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="internal-nlog-openidc.txt">

  <!-- Enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Define targets -->
  <targets>
    <!-- JSON console logging for Google Cloud -->
    <target xsi:type="Console" name="jsonConsole">
      <layout xsi:type="JsonLayout" includeScopeProperties="true">
        <attribute name="severity" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ:universalTime=true}" />
        <attribute name="logging.googleapis.com/labels" encode="false">
          <layout xsi:type="JsonLayout" includeEventProperties="false">
            <attribute name="logger" layout="${logger}" />
            <attribute name="correlationId" layout="${mdlc:item=CorrelationId}" />
            <attribute name="traceId" layout="${aspnet-traceidentifier}" />
            <attribute name="requestPath" layout="${aspnet-request-url}" />
            <attribute name="requestMethod" layout="${aspnet-request-method}" />
            <attribute name="userIdentity" layout="${aspnet-user-identity}" />
            <attribute name="sessionId" layout="${aspnet-sessionid}" />
            <attribute name="machineName" layout="${machinename}" />
            <attribute name="threadId" layout="${threadid}" />
          </layout>
        </attribute>
        <attribute name="logging.googleapis.com/trace" layout="${aspnet-traceidentifier}" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>
  </targets>

  <!-- Define logging rules -->
  <rules>
    <!-- Skip Microsoft logs below Warning -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <!-- Log everything else -->
    <logger name="*" minlevel="Trace" writeTo="jsonConsole" />
  </rules>
</nlog>
