<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <!-- Include CorrelationId in all log messages -->
      <conversionPattern value="%date [%thread] %-5level %logger [CorrelationId=%property{CorrelationId}] - %message%newline" />
    </layout>
  </appender>

  <appender name="GoogleCloudAppender" type="log4net.Appender.ConsoleAppender">
    <!-- GCP Cloud Logging will parse structured JSON logs -->
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      <decorator type="log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json" />
      <default />
      <remove value="ndc" />
      <remove value="message" />
      <member value="message:messageobject" />
      <member value="correlationId:property{CorrelationId}" />
      <member value="machine:property{log4net:HostName}" />
      <member value="thread:property{ThreadId}" />
    </layout>
  </appender>

  <root>
    <level value="VERBOSE" />
    <appender-ref ref="GoogleCloudAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
